<!--current="((typeof[nodes[i]==='object' && Array.isArray(nodes[i])) ? 0: ((nodes[i].lastData.t && nodes[i].lastUpdate<120) ? nodes[i].lastData.t : 0))"-->


<div class="row">
	<div class="col-2" align="center">
		<div class="progress-wrapper">
			<div class="progress ngcloak" ng-style="{'left':'50%','top':'45%','bottom':'auto','transform':'translateY(-50%) translateX(-50%)','font-size':'17px'}">
				{{((nodes["gw0/11"].lastData.t && nodes["gw0/11"].lastUpdate<300) ? (nodes["gw0/11"].lastData.t | number:1)+"°C" : "n/a")}}
			</div>
			<round-progress max="45" current="((nodes['gw0/11'].lastData.t && nodes['gw0/11'].lastUpdate<300) ? nodes['gw0/11'].lastData.t : 0)" color="#1fb1e1" bgcolor=rgba(0,0,0,0); radius="60" stroke="8" semi="false" rounded="true" clockwise="true" responsive="true" duration="700" animation="easeOutBounce" animation-delay="0"></round-progress>
		</div>
		<div align="center"><a href="#/detail/11"><!--<div><span class="badge">11</span></div>--><div><small>{{nodes["gw0/11"].name || "n/a"}}</small></div></a></div>
	</div>

	<div class="col-2" align="center">
		<div class="progress-wrapper">
			<div class="progress ngcloak" ng-style="{'left':'50%','top':'45%','bottom':'auto','transform':'translateY(-50%) translateX(-50%)','font-size':'17px'}">
				{{((nodes["gw0/12"].lastData.t && nodes["gw0/12"].lastUpdate<300) ? (nodes["gw0/12"].lastData.t | number:1)+"°C" : "n/a")}}
			</div>
			<round-progress max="45" current="((nodes['gw0/12'].lastData.t && nodes['gw0/12'].lastUpdate<300) ? nodes['gw0/12'].lastData.t : 0)" color="#1fb1e1" bgcolor=rgba(0,0,0,0); radius="60" stroke="8" semi="false" rounded="true" clockwise="true" responsive="true" duration="700" animation="easeOutBounce" animation-delay="0"></round-progress>
		</div>
		<div align="center"><a href="#/detail/12"><!--<div><span class="badge">12</span></div>--><div><small>{{nodes["gw0/12"].name || "n/a"}}</small></div></a></div>
	</div>

	<div class="col-2" align="center">
		<img class="img-fluid" ng-src="imgs/icons/white/svg/{{weather.current.code}}.svg">
		<h5>{{((nodes["gw0/2021"].lastData.t && nodes["gw0/2021"].lastUpdate<300) ? (nodes["gw0/2021"].lastData.t | number:1)+"&deg;" : "n/a")}}</h5>
		<small><span class="fa fa-chevron-up" aria-hidden="true"></span>{{weather.astronomy.sunrise}}  <span class="fa fa-chevron-down" aria-hidden="true"></span>{{weather.astronomy.sunset}}</small>
	</div>

	<div class="col-2" align="center">
		<div>{{weather.current.wind_dir}}</div>
		<div><small>{{weather.current.wind_kph}}-{{weather.current.wind_gust_kph}} km/h</small></div>
		<div>{{weather.current.pressure_mb}} mbar</div>
	</div>

	<div class="col-2" align="center">
		<div class="progress-wrapper">
			<div class="progress ngcloak" ng-style="{'left':'50%','top':'45%','bottom':'auto','transform':'translateY(-50%) translateX(-50%)','font-size':'17px'}">
				{{((nodes["gw0/13"].lastData.t && nodes["gw0/13"].lastUpdate<300) ? (nodes["gw0/13"].lastData.t | number:1)+"°C" : "n/a")}}
			</div>
			<round-progress max="45" current="((nodes['gw0/13'].lastData.t && nodes['gw0/13'].lastUpdate<300) ? nodes['gw0/13'].lastData.t : 0)" color="#1fb1e1" bgcolor=rgba(0,0,0,0); radius="60" stroke="8" semi="false" rounded="true" clockwise="true" responsive="true" duration="700" animation="easeOutBounce" animation-delay="0"></round-progress>
		</div>
		<div align="center"><a href="#/detail/13"><!--<div><span class="badge">25</span></div>--><div><small>{{nodes["gw0/13"].name || "n/a"}}</small></div></a></div>
	</div>

	<div class="col-2" align="center">
		<div class="progress-wrapper">
			<div class="progress ngcloak" ng-style="{'left':'50%','top':'45%','bottom':'auto','transform':'translateY(-50%) translateX(-50%)','font-size':'17px'}">
				{{((nodes["gw0/25"].lastData.t && nodes["gw0/25"].lastUpdate<300) ? (nodes["gw0/25"].lastData.t | number:1)+"°C" : "n/a")}}
			</div>
			<round-progress max="45" current="((nodes['gw0/25'].lastData.t && nodes['gw0/25'].lastUpdate<300) ? nodes['gw0/25'].lastData.t : 0)" color="#1fb1e1" bgcolor=rgba(0,0,0,0); radius="60" stroke="8" semi="false" rounded="true" clockwise="true" responsive="true" duration="700" animation="easeOutBounce" animation-delay="0"></round-progress>
		</div>
		<div align="center"><a href="#/detail/25"><!--<div><span class="badge">25</span></div>--><div><small>{{nodes["gw0/25"].name || "n/a"}}</small></div></a></div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		&nbsp;
	</div>
</div>
<div class="row">
	<div class="col-2 card" align="center" ng-repeat="forecast in weather.forecasts | limitTo:6">
	<!-- <div class="col-2" align="center" ng-repeat="forecast in weather.forecasts"> -->
		<img class="card-img-top" ng-src="imgs/icons/white/svg/{{forecast.code}}.svg">
		<div align="center">
			<b>{{forecast.day}}</b>
			<div>
				<p>{{forecast.low}}&deg;<br>{{forecast.high}}&deg;</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12" ng-controller="nodeDetailCtrl">
		<nvd3 options="nvd3_options" data="nvd3_data"></nvd3>
	</div>
</div>
<div class="row">
	<div class="col-12">
		&nbsp;
	</div>
</div>


<!-- <div class="row">
<div class="col-12 col-md-12">
<nvd3 options="nvd3_options" data="nvd3_data"></nvd3>
</div>
</div> -->
