<div ng-switch="graphstate">
      <div class="row">
            &nbsp;
      </div>

      <div class="row">
            <div class="col">
                  <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                        </span>
                  </div>
            </div>
            <div class="col">
                  <div ng-switch-when="2" align="center">
                        <h5 style="color:white">{{graphtitle}}</h5>
                        <p><small>{{graphtitleminmax}}</small></p>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col-12">
                  <div ng-switch-when="0">please choose a date</div>
                  <div ng-switch-when="1">
                        <div class="sk-cube-grid">
                              <div class="sk-cube sk-cube1"></div>
                              <div class="sk-cube sk-cube2"></div>
                              <div class="sk-cube sk-cube3"></div>
                              <div class="sk-cube sk-cube4"></div>
                              <div class="sk-cube sk-cube5"></div>
                              <div class="sk-cube sk-cube6"></div>
                              <div class="sk-cube sk-cube7"></div>
                              <div class="sk-cube sk-cube8"></div>
                              <div class="sk-cube sk-cube9"></div>
                        </div>
                  </div>
                  <div ng-switch-when="2">
                        <div align="center">
                              <div>
                                    <nvd3 options="nvd3_options" data="nvd3_data"></nvd3>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
